<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number guessing game(User guesses)</title>
</head>
<body>
    <h1>Guess The Number between 1 and 100</h1>
    <form method="post">
        {% csrf_token %}
        <input type="number" name="guess">
        <button type="submit" name="confirm" value="yes">Submit guess</button>
    </form>
    {% if result %}
    <h2>{{result}}</h2>
    {% endif %}
    <form method="post">
        {%csrf_token%}
        <button type="submit" name="wish" value="Play again">Play Again</button>
    </form>
    <a href="{% url "navigation" %}" class="button-link">Game Menu</a>
    <a href="{% url "home" %}" class="button-link">Rock Paper Scissors</a>
    <a href="{% url "gnav" %}" class="button-link">Back</a>
    <h5>By Divyansh Gupta</h5>
</body>
</html>